
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
background-color: aqua;
}
.imgPoster{
    height: 300px;
    padding: 20px;
}
.desc{
    padding: 20px;
    font-family: arial;
}
.ul1 {
    
    list-style-type: none; 
}
.starRating span {
    color: rgb(180, 180, 180);
} 
.starRating .filled{
    color: black;
}
